SoftGame/SoftGame/Service References/SoftGameQuerySvc/SoftGameQueryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SoftGameEFDataModel.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SoftGameEFDataModel.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGamesInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GamesInfo" nillable="true" type="tns:GamesInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGamesInfo" nillable="true" type="tns:ArrayOfGamesInfo" />
  <xs:complexType name="GamesInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameId" type="xs:int" />
      <xs:element minOccurs="0" name="GameName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GamesInfo" nillable="true" type="tns:GamesInfo" />
</xs:schema>